<div class="footer-container">
    <div class="footer-main1">
        <div class="m1-sub1">
            <h1>INDIFEAST</h1>
            <p> IndiFeast, your gateway to the rich tapestry of
                Indian cuisine, offers a journey through India's
                diverse flavors in a vibrant and welcoming ambiance.
                Experience authentic dishes and traditional hospitality
                for a memorable dining adventure.
            </p>
        </div>

        <div class="m1-sub2">
            <div class="sub2-x1">
                <h1>About Indifeast</h1>
                <a href="#" aria-label="Our Story">Our Story</a>
                <a href="#" aria-label="Our Services">Our Services</a>
                <a href="#" aria-label="Offers">Offers</a>
                <a href="../ABOUT US/aboutus.html" aria-label="Newsletter">Newsletter</a>
                <a href="../HOME/homepage.html#why-us" aria-label="Why Us">Why Us</a>
            </div>
            <div class="sub2-x2">
                <h1>Booking</h1>
                <a href="../BOOKING/booking.html#booking-form" aria-label="Book a table">Book a table</a>
                <a href="../BOOKING/booking.html#events-photos" aria-label="Events Gallery">Events Gallery</a>
                <a href="../BOOKING/booking.html#restaurants-list" aria-label="Our Restaurants">Our Restaurants</a>
                <a href="../CONTACT US/contact.html#contact-form" aria-label="Help Center">Help Center</a>
                <a href="../CONTACT US/contact.html#faq" aria-label="Frequently Asked Questions">FAQs</a>
            </div>
            <div class="sub2-x2">
                <h1>Our Food</h1>
                <a href="#">Menu</a>
                <a href="#">Best Seller</a>
                <a href="#">Chef's Special</a>
            </div>
        </div>

        <div class="m1-sub3">
            <h1>Contact Information</h1>
            <p>72 Albert Road, London, WO1 2HY</p>
            <p>+441632960904</p>
            <p>+441632960127</p>
        </div>
    </div>
    <div class="line">
        <hr>
    </div>

    <div class="footer-main2">
        <h2>Follow us on</h2>
        <div class="footer-icons">
            <div class="icon-container">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-chrome"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-opera"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-main3">
        <div>
            <h2><span style="margin-right:10px;">&#169;</span><span class="ssd">2024 Indifeast.All Rights
                    Reserved</span>
            </h2>
        </div>
        <div>
            <a href="#">Term and Conditions</a>
            <span>&#124;</span>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</div>